@media (max-width: 576px) {
    header {
        padding: 1rem;
        z-index: 3;
        height: auto;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    header nav {
        display: none;
    }

    .menu-btn {
        position: absolute;
        display: block;
        right: 0;
        top: 1rem;
    }

    .container {
        padding-top: 15%;
        width: 90%;
    }

    .page-top {
        height: auto;
        width: 100%;
    }

    .page-top__left-side {
        width: 100%;
    }

    .page-top__main-img img {
        width: 100%;
    }

    .page-top__right-side{
        position: relative;
        float: none;
        margin-right: 0;
    }

    .page-top__btn{
        margin-right: auto;
        margin-left: auto;
    }

    .page-top__polcadot {
        display: none;
    }

    .page-top__logoipsum {
        margin-top: 2rem;
    }

    .page-top__logoipsum img {
        margin: 2rem auto;
        display: block;
        float: none;
    }

    .features_section {
        width: 100%;
    }

    .features__services {
        width: 100%;
        display: inline-block;
        margin: 1rem auto;
        float: none;
    }

    .features__services:last-child {
        margin-right: auto;
    }

    .benefits {
        margin-top: 5rem;
        height: auto;
    }

    .benefits__left-side,
    .benefits__right-side {
        width: 100%;
        float: none;
        height: auto;
    }

    .benefits__left-side img {
        width: 100%;
    }

    .benefits__right-side h4,
    .benefits__check-items {
        margin-top: 2rem;
    }

    .stars__right-side {
        width: 100%;
        float: none;
        background-color: white;
        height: auto;
    }

    .stars__right-side img {
        margin-top: 2rem;
        width: 100%;
        float: none;
    }

    .stars__left-side {
        float: none;
        width: 100%;
    }

    .stars {
        margin-top: 3rem;
        height: auto;
    }

    .stars__stats {
        height: auto;
    }

    .stars__stat {
        margin-top: 2rem;
        float: none;
        width: 100%;
    }

    .stars__btn {
        margin-left: auto;
        margin-right: auto;
    }

    .our-features {
        height: auto;
    }

    .our-features__cards {
        height: auto;
        margin: 0;
    }

    .our-features__card {
        float: none;
        height: auto;
        width: 100%;
    }

    .our-features__card-left {
        width: 100%;
        height: auto;
        float: none;
    }

    .our-features__card-left img {
        width: 100%;
    }

    .our-features__card-right {
        height: auto;
        width: 100%;
        float: none;
    }


    .our-features__card-left-bot {
        width: 100%;
        height: auto;
        float: none;
    }

    .our-features__card-right-bot {
        width: 100%;
        height: auto;
        float: none;
    }

    .our-features__card-right-bot img {
        width: 100%;
    }

    .our-products {
        height: auto;
        margin-top: 0;
    }

    .our-products__card {
        width: 100%;
        margin: 0;
        float: none;
        margin-top: 2rem;
    }

    .rectangle {
        margin-top: 2rem;
        height: auto;
    }

    .rectangle__background img {
        height: auto;
        object-fit: cover;
    }

    .rectangle__content h1 {
        padding-top: 0;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
    }

    .rectangle__btn {
        margin-top: 0;
        height: auto;

    }

    .__rating {
        right: 0;
        left: 1%;
    }

    .__comment{
        top: 33%;
        right: 1%;
    }

    .footer {
        margin-top: 3rem;
        height: auto;
    }

    .footer__foodies {
        width: 100%;
        float: none;
    }

    .footer__foodies p {
        width: 100%;
    }

    .footer__btns {
        display: block;
        height: 2rem;
        width: 100%;
    }

    .footer__about-us {
        width: 100%;
        float: none;
        margin-left: 0;
        height: auto;
    }

    .footer__about-us__content {
        margin-right: 0;
        width: 50%;
    }

    .footer__get-in-touch{
        float: none;
        width: 100%;
        height: auto;
    }

    .footer__get-in-touch p{
        width: 100%;
        margin: 1rem 0;
    }

    .footer h4{
        margin-top: 2rem;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
    }
}